.clearfix_class {
  display: flex;
  flex-direction: row;

}

@media (max-width: 768px) {
  .clearfix_class {
    flex-direction: column;
    justify-content: center;
  }
}
.product-quantity-box{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f7fc;
  border-radius: 8px;
  font-size: 10px;
  color: #00aaff;
}
