<!-- Asosiy Slayder Boshlanishi -->
<section class="main-slider style1">
  <div class="slider-box">
    <!-- Banner Karusel -->
    <div class="banner-carousel owl-theme owl-carousel">
      <!-- Slayd 1 -->
      <div class="slide">
        <div
          class="image-layer"
          style="background-image: url(assets/images/slides/slide-v1-1.jpg)"
        ></div>
        <div
          class="slider-bg-box"
          style="background-image: url(assets/images/slides/slide-v1-1-bg1.jpg)"
        ></div>
        <div class="slider-image">
          <img
            class="float-bob-y"
            src="assets/images/slides/slide-v1-1-image1.png"
            alt=""
          />
        </div>
        <div class="round-box">
          <h3 [innerHTML]="'limitedoffer' | translate"></h3>

          <h2>20.000</h2>
          <p>{{"everyProduct"|translate}}</p>
        </div>
        <div class="auto-container">
          <div class="content">
            <div class="big-title">
              <h2 [innerHTML]="'big-title-1' | translate"></h2>

            </div>
            <div class="text">
              <p [innerHTML]="'text-1' | translate"></p>

            </div>
            <div class="btns-box">
              <a class="btn-one" href="about.html">
                <div class="round"></div>
                <span class="txt">{{"about.more"|translate}}</span>
              </a>
              <div class="slider-video-gallery">
                <div class="icon">
                  <a
                    class="video-popup"
                    title="Video Galereya"
                    href="assets/video/ElevenWatervideo.mp4"
                  >
                    <span class="icon-play playicon"></span>
                  </a>
                </div>
                <div class="title">
                  <h6>{{"watchVideo"|translate}}</h6>
                  <p>{{"videoDesc"|translate}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Slayd 2 -->
      <div class="slide">
        <div
          class="image-layer"
          style="background-image: url(assets/images/slides/slide-v1-1.jpg)"
        ></div>
        <div
          class="slider-bg-box"
          style="background-image: url(assets/images/slides/slide-v1-1-bg2.jpg)"
        ></div>
        <div class="slider-image">
          <img
            class="float-bob-y"
            src="assets/images/slides/slide-v1-1-image2.png"
            alt=""
          />
        </div>
        <div class="round-box">
          <h3
            [innerHTML]="'limitedoffer' | translate">
          </h3>
          <h2>20.000</h2>
          <p>{{"everyProduct"|translate}}</p>
        </div>
        <div class="auto-container">
          <div class="content">
            <div class="big-title">
              <h2 [innerHTML]="'big-title-2' | translate"></h2>

            </div>
            <div class="text">
              <p [innerHTML]="'text-2' | translate"></p>

            </div>
            <div class="btns-box">
              <a class="btn-one" href="about.html">
                <div class="round"></div>
                <span class="txt">{{"about.more"|translate}}</span>
              </a>
              <div class="slider-video-gallery">
                <div class="icon">
                  <a
                    class="video-popup"
                    title="Video Galereya"
                    href="assets/video/ElevenWatervideo.mp4"
                  >
                    <span class="icon-play playicon"></span>
                  </a>
                </div>
                <div class="title">
                  <h6>{{"watchVideo"|translate}}</h6>
                  <p>{{"videoDesc"|translate}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Slayd 3 (takroriy) -->
      <div class="slide">
        <div
          class="image-layer"
          style="background-image: url(assets/images/slides/slide-v1-1.jpg)"
        ></div>
        <div
          class="slider-bg-box"
          style="background-image: url(assets/images/slides/slide-v1-1-bg1.jpg)"
        ></div>
        <div class="slider-image">
          <img
            class="float-bob-y"
            src="assets/images/slides/slide-v1-1-image1.png"
            alt=""
          />
        </div>
        <div class="round-box">
          <h3
            [innerHTML]="'limitedoffer' | translate">
          </h3>
          <h2>20.000</h2>
          <p>{{"everyProduct"|translate}}</p>
        </div>
        <div class="auto-container">
          <div class="content">
            <div class="big-title">
              <h2 [innerHTML]="'big-title-3' | translate"></h2>
            </div>
            <div class="text">
              <p [innerHTML]="'text-3' | translate"></p>

            </div>
            <div class="btns-box">
              <a class="btn-one" href="about.html">
                <div class="round"></div>
                <span class="txt">{{"about.more"|translate}}</span>
              </a>
              <div class="slider-video-gallery">
                <div class="icon">
                  <a
                    class="video-popup"
                    title="Video Galereya"
                    href="assets/video/ElevenWatervideo.mp4"
                  >
                    <span class="icon-play playicon"></span>
                  </a>
                </div>
                <div class="title">
                  <h6>{{"watchVideo"|translate}}</h6>
                  <p>{{"videoDesc"|translate}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Asosiy Slayder Tugadi -->
























<!--Start Service Style1 Area-->
<section class="service-style1-area">
  <div
    class="service-style1_pattern-bg"
    style="
      background-image: url(assets/images/pattern/service-style1-area-pt.jpg);
    "
  ></div>
  <div class="container">
    <div class="sec-title text-center">
      <div class="sub-title">
        <h5>{{ 'services.section_title' | translate }}</h5>
      </div>
      <h2 [innerHTML]="'services.section_subtitle' | translate"></h2>

      <div class="decor">
        <img src="assets/images/shape/decor.png" alt="" />
      </div>
    </div>

    <div class="row">
      <!--Start Single Service Style1-->
      <div class="col-xl-4 col-lg-4">
        <div
          class="single-service-style1 text-center wow fadeInUp"
          data-wow-delay="00ms"
          data-wow-duration="1500ms"
        >
          <div
            class="single-service-style1__bg"
            style="
              background-image: url(assets/images/shape/single-service-box-bg.png);
            "
          ></div>
          <div class="img-holder">
            <div class="inner">
              <img
                src="https://st.ourhtmldemo.com/new/aguapure-demo/assets/images/services/service-v1-1.jpg"
                alt=""
              />
            </div>
            <div class="overlay-icon">
              <a href="#"><span class="icon-water-bottle"></span></a>
            </div>
          </div>
          <div class="title-holder">
            <h3><a routerLink="service-detail">{{ 'services.water_18l_title' | translate }}</a></h3>

            <div class="inner-text">
              <p>{{ 'services.water_18l_desc' | translate }}</p>

            </div>
            <div class="readmore-button">
              <a routerLink="service-detail"
                ><span class="icon-right-arrow"></span>{{"services.read_more"|translate}}</a
              >
            </div>
          </div>
        </div>
      </div>
      <!--End Single Service Style1-->
      <!--Start Single Service Style1-->
      <div class="col-xl-4 col-lg-4">
        <div
          class="single-service-style1 text-center wow fadeInUp"
          data-wow-delay="200ms"
          data-wow-duration="1500ms"
        >
          <div
            class="single-service-style1__bg"
            style="
              background-image: url(assets/images/shape/single-service-box-bg.png);
            "
          ></div>
          <div class="img-holder">
            <div class="inner">
              <img
                src="https://st.ourhtmldemo.com/new/aguapure-demo/assets/images/services/service-v1-2.jpg"
                alt=""
              />
            </div>
            <div class="overlay-icon">
              <a href="#"><span class="icon-water-dispenser"></span></a>
            </div>
          </div>
          <div class="title-holder">
            <h3><a routerLink="service-detail">{{"services.dispenser_title"|translate}}</a></h3>
            <div class="inner-text">
              <p>
              {{ 'services.dispenser_desc' | translate }}
              </p>
            </div>
            <div class="readmore-button">
              <a routerLink="service-detail"
                ><span class="icon-right-arrow"></span>{{
  'services.read_more' | translate
                }}</a
              >
            </div>
          </div>
        </div>
      </div>
      <!--End Single Service Style1-->
      <!--Start Single Service Style1-->
      <div class="col-xl-4 col-lg-4">
        <div
          class="single-service-style1 text-center wow fadeInUp"
          data-wow-delay="400ms"
          data-wow-duration="1500ms"
        >
          <div
            class="single-service-style1__bg"
            style="
              background-image: url(assets/images/shape/single-service-box-bg.png);
            "
          ></div>
          <div class="img-holder">
            <div class="inner">
              <img src="../../../../../assets/images/about/icetea.jpg" alt="" />
            </div>
            <div class="overlay-icon">
              <a href="#"><span class="icon-water-bottle"></span></a>
            </div>
          </div>
          <div class="title-holder">
            <h3><a  routerLink="service-detail">{{
              "services.icetea_title" | translate
              }}</a></h3>
            <div class="inner-text">
              <p>
              {{ 'services.icetea_desc' | translate }}
              </p>
            </div>
            <div class="readmore-button">
              <a routerLink="service-detail"
                ><span class="icon-right-arrow"></span>{{
              'services.read_more' | translate
                }}</a
              >
            </div>
          </div>
        </div>
      </div>
      <!--End Single Service Style1-->
    </div>

    <div class="row">
      <div class="col-xl-12">
        <div class="service-style1_btns-box text-center">
          <a routerLink="/services" class="btn-one">
            <div class="round"></div>
            <span class="txt">{{ 'services.read_more' | translate }}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End Service Style1 Area-->

















<!--Start Fact Counter Area-->
<section class="fact-counter-area">

  <div class="auto-container">
    <div class="row">
      <div class="col-xl-12">
        <div class="fact-counter_box">
          <ul class="clearfix">
            <li
              class="single-fact-counter wowanimate__animated animate__slideInUp"
              data-wow-delay="200ms"
              data-wow-duration="1500ms"
            >
              <div class="border-box">
                <img src="assets/images/shape/fact-counter-border.png" alt="" />
              </div>
              <div class="outer-box">
                <div class="count-outer count-box">
                  <span class="count-text mr-3" data-speed="3000" data-stop="6.8"
                    >499</span
                  >
                  <span class=" k">k</span>
                </div>
                <div class="title">
                  <h6 [innerHTML]="'facts.delivered_bottles' | translate"></h6>

                </div>
              </div>
            </li>
            <li
              class="single-fact-counter wow slideInUp"
              data-wow-delay="200ms"
              data-wow-duration="1500ms"
            >
              <div class="border-box">
                <img src="assets/images/shape/fact-counter-border.png" alt="" />
              </div>
              <div class="outer-box">
                <div class="count-outer count-box">
                  <span class="count-text mr-3" data-speed="3000" data-stop="8"
                    >150</span
                  >
                  <span class="plus">+</span>
                </div>
                <div class="title">
                  <h6 [innerHTML]="'facts.experience_years' | translate"></h6>

                </div>
              </div>
            </li>
            <li
              class="single-fact-counter wow slideInUp"
              data-wow-delay="00ms"
              data-wow-duration="1500ms"
            >
              <div class="border-box">
                <img src="assets/images/shape/fact-counter-border.png" alt="" />
              </div>
              <div class="outer-box">
                <div class="count-outer count-box">
                  <span class="count-text" data-speed="3000" data-stop="45"
                    >560</span
                  >
                </div>
                <div class="title">
                  <h6 [innerHTML]="'facts.professional_staff' | translate"></h6>

                </div>
              </div>
            </li>
            <li
              class="single-fact-counter wow slideInUp"
              data-wow-delay="200ms"
              data-wow-duration="1500ms"
            >
              <div class="border-box">
                <img src="assets/images/shape/fact-counter-border.png" alt="" />
              </div>
              <div class="outer-box">
                <div class="count-outer count-box">
                  <span class="count-text" data-speed="3000" data-stop="27"
                    >77880</span
                  >
                </div>
                <div class="title">
                  <h6 [innerHTML]="'facts.active_zones' | translate"></h6>

                </div>
              </div>
            </li>
            <li
              class="single-fact-counter wow slideInUp"
              data-wow-delay="00ms"
              data-wow-duration="1500ms"
            >
              <div class="border-box"></div>
              <div class="outer-box">
                <div class="count-outer count-box">
                  <span class="count-text" data-speed="3000" data-stop="760"
                    >49480</span
                  >
                </div>
                <div class="title">
                  <h6 [innerHTML]="'facts.happy_clients' | translate"></h6>

                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End Fact Counter Area-->









<!--Start About Style1 Area-->
<section class="about-style1-area">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="about-style1_top">
          <div class="sec-title">
            <div class="sub-title">
              <h5>{{ 'about.section_title' | translate }}</h5>
            </div>
            <h2 [innerHTML]="'about.section_subtitle' | translate"></h2>
            <div class="decor">
              <img src="assets/images/shape/decor.png" alt="" />
            </div>
          </div>
          <div class="our-certification-box">
            <div class="certificate-logo">
              <img src="https://www.elevenwater.uz/img/wp-content/uploads/2020/12/cert1.jpg" alt="" />
            </div>
            <div class="text">
              <h3 [innerHTML]="'about.certified_title' | translate"></h3>
              <p>{{ 'about.certified_desc' | translate }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-12">
        <div class="about-style1_tab tabs-box">
          <ul class="tab-buttons clearfix">
            <li (click)="setActiveTab('about')" [ngClass]="{ 'active-btn': activeTab === 'about' }" class="tab-btn">
              <div class="left"><h2>01.</h2></div>
              <div class="right">
                <h5 [innerHTML]="'about.tab1_title' | translate"></h5>
              </div>
            </li>
            <li (click)="setActiveTab('goal')" [ngClass]="{ 'active-btn': activeTab === 'goal' }" class="tab-btn">
              <div class="left"><h2>02.</h2></div>
              <div class="right">
                <h5>{{ 'about.tab2_title' | translate }}</h5>
              </div>
            </li>
          </ul>

          <div class="tabs-content">
            <div class="pattern-bg" style="background-image: url(assets/images/pattern/thm-pattern-1.png)"></div>

            <!-- Tab 1: About -->
            <div class="tab" [ngClass]="{ 'active-tab': activeTab === 'about' }" *ngIf="activeTab === 'about'" id="about">
              <div class="about-style1-tab-content clearfix">
                <div class="about-style1-tab-content_bg" style="background-image: url(assets/images/about/about-style3.jpg)"></div>
                <div class="inner-content">
                  <div class="sec-title">
                    <h2 [innerHTML]="'about.tab_header' | translate"></h2>
                    <div class="decor">
                      <img src="assets/images/shape/decor.png" alt="" />
                    </div>
                  </div>
                  <p>{{ 'about.tab1_text' | translate }}</p>
                  <div class="btn-box">
                    <a class="btn-two" href="about.html">
                      <span class="icon-right-arrow"></span>{{ 'about.more' | translate }}
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <!-- Tab 2: Goal -->
            <div class="tab" [ngClass]="{ 'active-tab': activeTab === 'goal' }" *ngIf="activeTab === 'goal'" id="goal">
              <div class="about-style1-tab-content clearfix">
                <div class="about-style1-tab-content_bg" style="background-image: url(assets/images/about/about-style1.jpg)"></div>
                <div class="inner-content">
                  <div class="sec-title">
                    <h2 [innerHTML]="'about.tab_header' | translate"></h2>
                    <div class="decor">
                      <img src="assets/images/shape/decor.png" alt="" />
                    </div>
                  </div>
                  <p>{{ 'about.tab2_text' | translate }}</p>
                  <div class="btn-box">
                    <a class="btn-two" href="about.html">
                      <span class="icon-right-arrow"></span>{{ 'about.more' | translate }}
                    </a>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</section>


<!--Start Shop Style1 Area-->
<section class="shop-style1-area">
  <div class="shop-top-image-box">
    <div class="inner">
      <img
        src="https://st.ourhtmldemo.com/new/aguapure-demo/assets/images/resources/shop-top-image.png"
        alt=""
      />
    </div>
    <div class="ice paroller">
      <img
        class="zoom-fade"
        src="	https://st.ourhtmldemo.com/new/aguapure-demo/assets/images/resources/ice.png"
        alt=""
      />
    </div>
    <div class="round-box paroller-2">
      <h3 [innerHTML]="'shop.no_limits' | translate"></h3>

    </div>
  </div>
  <div class="big-title">{{ 'shop.trust' | translate }}</div>
  <div class="auto-container">
    <div class="sec-title text-center">
      <div class="sub-title">
        <h5>{{ 'shop.subtitle' | translate }}</h5>
      </div>
      <h2 [innerHTML]="'shop.title' | translate"></h2>

      <div class="decor">
        <img src="assets/images/shape/decor.png" alt="" />
      </div>
    </div>
    <div  class="shop-style1_content">
      <div class="single-shop-item" *ngFor="let product of products">
        <div class="single-shop-item_inner">
          <div class="img-holder">
            <img [src]="product.image_url" alt="" />
            <div class="overlay">
              <span class="icon-email"></span>
              <a href="#">{{ "shop.enquire" | translate }}</a>
            </div>
          </div>
          <div class="product-quantity-box">

            <h3>{{ product.sell_cost_uzs | number }} {{ 'currency' | translate }}</h3>
          </div>
          <div class="title-holder">
            <h3><a href="product-details.html">{{product.product_name}}</a></h3>
            <!-- <h6>yetkazib berish</h6> -->
            <!-- <p>Dushanba 4:30pm - 6:30pm</p> -->
            <div class="btn-box">
              <a class="btn-one text-white">
                <div class="round"></div>
                <span class="txt"  (click)="addToCart(product)">{{ "shop.add_to_cart" | translate }}</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End Shop Style1 Area-->











<!--Start Choose Style1 Area-->
<section class="choose-style1-area">
  <div class="container">
    <div class="row">
      <div class="col-xl-4">
        <div
          class="choose-style1_image-box wow slideInLeft"
          data-wow-delay="100ms"
          data-wow-duration="2500ms"
        >
          <img
            src="https://st.ourhtmldemo.com/new/aguapure-demo/assets/images/resources/choose-style1-img.jpg"
            alt=""
          />
          <div class="round-box js-tilt paroller">
            <h3 [innerHTML]="'choose.badge' | translate"></h3>
          </div>
        </div>
      </div>

      <div class="col-xl-8">
        <div class="choose-style1-content">
          <div class="sec-title">
            <div class="sub-title">
              <h5>{{ 'choose.why_title' | translate }}</h5>
            </div>
            <h2 [innerHTML]="'choose.why_subtitle' | translate"></h2>
            <div class="decor">
              <img src="assets/images/shape/decor.png" alt="" />
            </div>
          </div>

          <div class="inner-content">
            <div class="shape">
              <img src="assets/images/shape/choose-style1-shape-1.png" alt="" />
            </div>

            <ul class="clearfix  clearfix_class">
              <li class="wow fadeInLeft" data-wow-delay="100ms" data-wow-duration="1500ms">
                <div class="icon">
                  <div class="icon-bg" style="background-image: url(assets/images/shape/thm-shape-1.png);"></div>
                  <span class="icon-water-drop-1"></span>
                </div>
                <div class="text">
                  <h3>{{ 'choose.feature1_title' | translate }}</h3>
                  <p>{{ 'choose.feature1_desc' | translate }}</p>
                </div>
              </li>

              <li class="wow fadeInRight" data-wow-delay="100ms" data-wow-duration="1500ms">
                <div class="icon">
                  <div class="icon-bg" style="background-image: url(assets/images/shape/thm-shape-1.png);"></div>
                  <span class="icon-write-message"></span>
                </div>
                <div class="text">
                  <h3>{{ 'choose.feature2_title' | translate }}</h3>
                  <p>{{ 'choose.feature2_desc' | translate }}</p>
                </div>
              </li>
            </ul>

            <ul class="clearfix clearfix_class">
              <li class="wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
                <div class="icon">
                  <div class="icon-bg" style="background-image: url(assets/images/shape/thm-shape-1.png);"></div>
                  <span class="icon-shield"></span>
                </div>
                <div class="text">
                  <h3>{{ 'choose.feature3_title' | translate }}</h3>
                  <p>{{ 'choose.feature3_desc' | translate }}</p>
                </div>
              </li>

              <li class="wow fadeInRight" data-wow-delay="300ms" data-wow-duration="1500ms">
                <div class="icon">
                  <div class="icon-bg" style="background-image: url(assets/images/shape/thm-shape-1.png);"></div>
                  <span class="icon-medal"></span>
                </div>
                <div class="text">
                  <h3>{{ 'choose.feature4_title' | translate }}</h3>
                  <p>{{ 'choose.feature4_desc' | translate }}</p>
                </div>
              </li>
            </ul>

            <ul class="clearfix clearfix_class">
              <li class="wow fadeInLeft" data-wow-delay="500ms" data-wow-duration="1500ms">
                <div class="icon">
                  <div class="icon-bg" style="background-image: url(assets/images/shape/thm-shape-1.png);"></div>
                  <span class="icon-hand"></span>
                </div>
                <div class="text">
                  <h3>{{ 'choose.feature5_title' | translate }}</h3>
                  <p>{{ 'choose.feature5_desc' | translate }}</p>
                </div>
              </li>

              <li class="wow fadeInRight" data-wow-delay="600ms" data-wow-duration="1500ms">
                <div class="icon">
                  <div class="icon-bg" style="background-image: url(assets/images/shape/thm-shape-1.png);"></div>
                  <span class="icon-truck"></span>
                </div>
                <div class="text">
                  <h3>{{ 'choose.feature6_title' | translate }}</h3>
                  <p>{{ 'choose.feature6_desc' | translate }}</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End Choose Style1 Area-->










<!--Start Features Style1 Area-->
<section class="features-style1-area">
  <div class="auto-container">
    <div class="row">
      <div class="col-xl-6">
        <div class="features-style1_one-content">
          <div
            class="features-style1_one-content-bg"
            style="background-image: url(assets/images/resources/features-style1_one-content-bg.jpg);"
          ></div>
          <div class="inner-content">
            <div class="sec-title">
              <div class="sub-title">
                <h5>{{ 'features.title_sub' | translate }}</h5>
              </div>
              <h2>{{ 'features.title_main' | translate }}</h2>
              <div class="decor">
                <img src="assets/images/shape/decor.png" alt="" />
              </div>
            </div>
            <div class="text">
              <p>{{ 'features.description' | translate }}</p>
              <ul>
                <li><span class="icon-water-drop"></span>{{ 'features.point1' | translate }}</li>
                <li><span class="icon-water-drop"></span>{{ 'features.point2' | translate }}</li>
                <li><span class="icon-water-drop"></span>{{ 'features.point3' | translate }}</li>
                <li><span class="icon-water-drop"></span>{{ 'features.point4' | translate }}</li>
              </ul>
              <div class="btns-box">
                <a class="btn-one" href="#">
                  <div class="round"></div>
                  <span class="txt">{{ 'features.see_all' | translate }}</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3">
        <div class="features-style1_single-box">
          <div
            class="features-style1_single-box-bg"
            style="background-image: url(assets/images/resources/features-style1_single-box-bg-1.jpg);"
          ></div>
          <div class="inner-content">
            <h2 [innerHTML]="'features.box1_title' | translate"></h2>
            <p>{{ 'features.box1_text' | translate }}</p>
            <div class="btn-box">
              <a href="#"><i class="fa fa-plus" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3">
        <div class="features-style1_single-box style2">
          <div
            class="features-style1_single-box-bg"
            style="background-image: url(assets/images/resources/features-style1_single-box-bg-2.jpg);"
          ></div>
          <div class="inner-content">
            <h2>{{ 'features.box2_title' | translate }}</h2>
            <p>{{ 'features.box2_text' | translate }}</p>
            <div class="btn-box">
              <a href="#"><i class="fa fa-plus" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!--End Features Style1 Area-->



<!--Start Working process area -->
<section class="working-process-area">
  <div
    class="working-process-area-bg"
    style="background-image: url(assets/images/parallax-background/working-process-area-bg.jpg);"
  ></div>
  <div class="container">
    <div class="sec-title text-center">
      <div class="sub-title">
        <h5>{{ 'working_process.subtitle' | translate }}</h5>
      </div>
      <h2 class="clr_white" [innerHTML]="'working_process.title' | translate"></h2>
      <div class="decor">
        <img src="assets/images/shape/decor.png" alt="" />
      </div>
    </div>
    <div class="row">
      <!-- Bosqich 1 -->
      <div class="col-xl-4">
        <div class="single-working-process wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
          <div class="counting-box clearfix">
            <div class="text">
              <h6>{{ 'working_process.step' | translate }}</h6>
            </div>
            <div class="count"></div>
          </div>
          <div class="content">
            <h3>{{ 'working_process.step1_title' | translate }}</h3>
            <p>{{ 'working_process.step1_desc' | translate }}</p>
          </div>
          <div class="icon">
            <span class="icon-order"></span>
          </div>
        </div>
      </div>

      <!-- Bosqich 2 -->
      <div class="col-xl-4">
        <div class="single-working-process wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
          <div class="counting-box clearfix">
            <div class="text">
              <h6>{{ 'working_process.step' | translate }}</h6>
            </div>
            <div class="count"></div>
          </div>
          <div class="content">
            <h3>{{ 'working_process.step2_title' | translate }}</h3>
            <p>{{ 'working_process.step2_desc' | translate }}</p>
          </div>
          <div class="icon">
            <span class="icon-package"></span>
          </div>
        </div>
      </div>

      <!-- Bosqich 3 -->
      <div class="col-xl-4">
        <div class="single-working-process wow fadeInUp" data-wow-delay="500ms" data-wow-duration="1500ms">
          <div class="counting-box clearfix">
            <div class="text">
              <h6>{{ 'working_process.step' | translate }}</h6>
            </div>
            <div class="count"></div>
          </div>
          <div class="content">
            <h3>{{ 'working_process.step3_title' | translate }}</h3>
            <p>{{ 'working_process.step3_desc' | translate }}</p>
          </div>
          <div class="icon">
            <span class="icon-truck-1"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End Working process area -->

<!--Start Contact Style1 Area-->
<section class="contact-style1-area">
  <div
    class="contact-form-box1_bg"
    style="background-image: url(assets/images/shop/shop-7.jpg);"
  ></div>

  <div class="thm-round-box1">
    <h3 [innerHTML]="'contact.box_title' | translate"></h3>
  </div>

  <div class="gray-bg"></div>
  <div class="container">
    <div class="row">
      <!-- Chap tomondagi matn -->
      <div class="col-xl-6">
        <div class="contact-style1-content">
          <div class="shape1" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="2000">
            <img
              class="paroller-2"
              src="https://st.ourhtmldemo.com/new/aguapure-demo/assets/images/shape/thm-shape-2.png"
              alt=""
            />
          </div>
          <div class="sec-title">
            <div class="sub-title">
              <h5>{{ 'contact.subtitle' | translate }}</h5>
            </div>
            <h2 [innerHTML]="'contact.title' | translate"></h2>
            <div class="decor">
              <img src="assets/images/shape/decor.png" alt="" />
            </div>
          </div>

          <div class="inner-content">
            <div class="quick-contact-box">
              <div class="icon">
                <span class="icon-calling"></span>
              </div>
              <div class="title">
                <h3>{{ 'contact.call_title' | translate }}</h3>
                <h2><a href="tel:+998551510011">{{ 'contact.call_text' | translate }}</a></h2>
              </div>
            </div>
            <div class="text">
              <p [innerHTML]="'contact.description' | translate"></p>
            </div>
            <div class="btn-box">
              <a class="btn-one" href="tel:+998551510011">
                <div class="round"></div>
                <span class="txt">{{ 'contact.call_button' | translate }}</span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- O'ng tomondagi forma -->
      <div class="col-xl-6">
        <div class="contact-form-box1">
          <div class="top-title">
            <h2>{{ 'contact.form_title' | translate }}</h2>
          </div>
          <form id="contact-form" name="contact_form" class="default-form1" action="#" method="post">
            <div class="input-box">
              <input
                type="text"
                name="form_name"
                placeholder="{{ 'contact.form_name' | translate }}"
                required
              />
              <div class="icon"><i class="fa fa-user" aria-hidden="true"></i></div>
            </div>
            <div class="input-box">
              <input
                type="email"
                name="form_email"
                placeholder="{{ 'contact.form_email' | translate }}"
                required
              />
              <div class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
            </div>
            <div class="input-box">
              <input
                type="text"
                name="form_address"
                placeholder="{{ 'contact.form_address' | translate }}"
              />
              <div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
            </div>
            <div class="button-box">
              <div class="left">
                <div class="checked-box1 mb-2">
                  <input type="checkbox" name="skipper1" id="skipper" checked />
                  <label for="skipper"><span></span>I agree to receive updates<br> from Elewen water</label>
                </div>
              </div>
              <div class="right">
                <button
                  class="btn-one"
                  type="submit"
                  [attr.data-loading-text]="'contact.form_loading' | translate"
                >
                  <span class="round"></span>
                  <span class="txt">{{ 'contact.form_submit' | translate }}</span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</section>
<!--End Contact Style1 Area-->


<!--Start Blog Style1 Area-->
<section class="blog-style1-area">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="blog-style1_top">
          <div class="sec-title">
            <div class="sub-title">
              <h5>{{ 'blog.subtitle' | translate }}</h5>
            </div>
            <h2>{{ 'blog.title' | translate }}</h2>
            <div class="decor">
              <img src="assets/images/shape/decor.png" alt="" />
            </div>
          </div>
          <div class="btns-box">
            <a class="btn-one" href="blog.html">
              <div class="round"></div>
              <span class="txt">{{ 'blog.all_posts' | translate }}</span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="row text-right-rtl">
      <!-- Blog 1 -->
      <div class="col-xl-4">
        <div class="single-blog-style1 wow fadeInUp" data-wow-duration="1500ms">
          <div class="img-holder">
            <div class="inner">
              <img src="https://st.ourhtmldemo.com/new/aguapure-demo/assets/images/blog/blog-v1-1.jpg" alt="" />
            </div>
            <div class="categories">
              <h6><i class="fa fa-folder"></i>{{ 'blog.category' | translate }}</h6>

            </div>
          </div>
          <div class="text-holder">
            <h3 class="blog-title">
              <a href="blog-single.html" [innerHTML]="'blog.post1_title' | translate"></a>

            </h3>
            <div class="meta-box">
              <ul class="meta-info">
                <li><i class="fa fa-calendar"></i> {{ 'blog.post1_date' | translate }}</li>

                <li><a href="#"><i class="fa fa-user"></i> {{ 'blog.post1_author' | translate }}</a></li>

              </ul>
            </div>
            <div class="text">
              <p>{{ 'blog.post1_text' | translate }}</p>

            </div>
            <div class="btns-box">
              <a class="btn-two" href="blog-single.html">
                <span class="icon-right-arrow"></span>{{ 'blog.read_more' | translate }}

              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- Blog 2 -->
      <div class="col-xl-4">
        <div class="single-blog-style1 wow fadeInUp" data-wow-duration="1500ms">
          <div class="img-holder">
            <div class="inner">
              <img src="	https://st.ourhtmldemo.com/new/aguapure-demo/assets/images/blog/blog-v1-2.jpg" alt="" />
            </div>
            <div class="categories">
              <h6><i class="fa fa-folder"></i>{{ 'blog.category' | translate }}</h6>

            </div>
          </div>
          <div class="text-holder">
            <h3 class="blog-title">
              <a href="blog-single.html" [innerHTML]="'blog.post2_title' | translate"></a>

            </h3>
            <div class="meta-box">
              <ul class="meta-info">
                <li><i class="fa fa-calendar"></i> {{ 'blog.post2_date' | translate }}</li>

                <li><a href="#"><i class="fa fa-user"></i> {{ 'blog.post2_author' | translate }}</a></li>

              </ul>
            </div>
            <div class="text">
              <p>{{ 'blog.post2_text' | translate }}</p>

            </div>
            <div class="btns-box">
              <a class="btn-two" href="blog-single.html">
                <span class="icon-right-arrow"></span>{{ 'blog.read_more' | translate }}

              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- Blog 3 -->
      <div class="col-xl-4">
        <div class="single-blog-style1 wow fadeInUp" data-wow-duration="1500ms">
          <div class="img-holder">
            <div class="inner">
              <img src="	https://st.ourhtmldemo.com/new/aguapure-demo/assets/images/blog/blog-v1-3.jpg" alt="" />
            </div>
            <div class="categories">
              <h6><i class="fa fa-folder"></i>{{ 'blog.category' | translate }}</h6>
            </div>
          </div>
          <div class="text-holder">
            <h3 class="blog-title">
              <a href="blog-single.html">{{ 'blog.post3_title' | translate }}</a>


            </h3>
            <div class="meta-box">
              <ul class="meta-info">
                <li><i class="fa fa-calendar"></i> {{ 'blog.post3_date' | translate }}</li>

                <li><a href="#"><i class="fa fa-user"></i> {{ 'blog.post3_author' | translate }}</a></li>

              </ul>
            </div>
            <div class="text">
              <p>{{ 'blog.post3_text' | translate }}</p>

            </div>
            <div class="btns-box">
              <a class="btn-two" href="blog-single.html">
                <span class="icon-right-arrow"></span>{{ 'blog.read_more' | translate }}

              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--End Blog Style1 Area-->
