<!--Start breadcrumb area paroller-->
<section class="breadcrumb-area">
    <div class="breadcrumb-area-bg" style="background-image: url(assets/images/breadcrumb/breadcrumb-1.jpg);"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="inner-content text-center">
                    <div class="title">
                       <h2>Savatcha</h2>
                    </div>
                    <div class="breadcrumb-menu">
                        <ul>
                            <li><a href="index.html">Bosh sahifa</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            <li class="active">Savatcha</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  <!--End breadcrumb area-->

  <!--Start cart area-->
  <section class="cart-area">
    <div class="container">

        <div class="row text-right-rtl">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="cart-table-box">
                    <div class="cart-info">
                        <div class="left">Savatingiz: 2 ta mahsulot</div>
                        <div class="right">Jami: 15,797 so'm</div>
                    </div>
                    <div class="table-outer">
                        <table class="cart-table">
                            <thead class="cart-header clearfix">
                                <tr>
                                    <th class="prod-column">Mahsulot</th>
                                    <th class="hide-me"></th>
                                    <th>Soni</th>
                                    <th class="price">Narxi</th>
                                    <th>Jami</th>
                                    <th>O'chirish</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="2" class="prod-column">
                                        <div class="column-box">
                                            <div class="prod-thumb">
                                                <a href="#"><img src="assets/images/shop/product-thumb-1.jpg" alt=""></a>
                                            </div>
                                            <div class="title">
                                                <h3 class="prod-title">15 Litrli<br> idishdagi suv</h3>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="qty">
                                        <div class="input-box">
                                            <input class="quantity-spinner" type="text" value="2" name="quantity">
                                        </div>
                                    </td>
                                    <td class="price">$20.00</td>
                                    <td class="sub-total">$40.00</td>
                                    <td>
                                        <div class="remove">
                                            <span class="icon-close"></span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="prod-column">
                                        <div class="column-box">
                                            <div class="prod-thumb">
                                                <a href="#"><img src="assets/images/shop/product-thumb-2.jpg" alt=""></a>
                                            </div>
                                            <div class="title">
                                                <h3 class="prod-title">12 Litrli<br> idishdagi suv</h3>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="qty">
                                        <div class="input-box">
                                            <input class="quantity-spinner" type="text" value="3" name="quantity">
                                        </div>
                                    </td>
                                    <td class="price">$16.00</td>
                                    <td class="sub-total">$48.00</td>
                                    <td>
                                        <div class="remove">
                                            <span class="icon-close"></span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12">
                <div class="cart-button-box">
                    <div class="apply-coupon">
                        <div class="inner">
                            <input type="text" name="coupon-code" value="" placeholder="Chegirma kodini kiriting...">
                            <div class="apply-coupon-button">
                                <button class="btn-one" type="submit"><span class="round"></span><span class="txt">Qo‘llash</span></button>
                            </div>
                        </div>
                    </div>
                    <div class="update-cart">
                        <button class="btn-one update-cart-button" type="button"><span class="round"></span><span class="txt">Yangilash</span></button>
                        <button class="btn-one" type="button"><span class="round"></span><span class="txt">To‘lovga o‘tish</span></button>
                    </div>
                </div>
            </div>
        </div>

    </div>
  </section>
  <!--End cart area-->
