<!--Start breadcrumb area paroller-->
<section class="breadcrumb-area">
    <div class="breadcrumb-area-bg" style="background-image: url(assets/images/breadcrumb/breadcrumb-1.jpg);"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="inner-content text-center">
                    <div class="title">
                       <h2>{{"basket"|translate}}</h2>
                    </div>
                    <div class="breadcrumb-menu">
                        <ul>
                            <li><a href="index.html">{{"serviceDetails.breadcrumb_home"|translate}}</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            <li class="active">{{"basket"|translate}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  <!--End breadcrumb area-->

 <!--Start cart area-->
<section class="cart-area">
    <div class="container">

      <div class="row text-right-rtl">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="cart-table-box">
            <div class="cart-info">
              <div class="left">
                {{ 'cart.title' | translate }}: 2
                {{ 'cart.items' | translate:{ count: 2 } }}
              </div>
              <div class="right">
                {{ 'cart.total' | translate:{ amount: '15,797' } }}
              </div>
            </div>

            <div class="table-outer">
              <table class="cart-table">
                <thead class="cart-header clearfix">
                  <tr>
                    <th class="prod-column">{{ 'cart.table.product' | translate }}</th>
                    <th class="hide-me"></th>
                    <th>{{ 'cart.table.quantity' | translate }}</th>
                    <th class="price">{{ 'cart.table.price' | translate }}</th>
                    <th>{{ 'cart.table.subtotal' | translate }}</th>
                    <th>{{ 'cart.table.remove' | translate }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td colspan="2" class="prod-column">
                      <div class="column-box">
                        <div class="prod-thumb">
                          <a href="#"><img src="assets/images/shop/product-thumb-1.jpg" alt=""></a>
                        </div>
                        <div class="title">
                          <h3 class="prod-title">{{ 'cart.products.product_1' | translate }}</h3>
                        </div>
                      </div>
                    </td>
                    <td class="qty">
                      <div class="input-box">
                        <input class="quantity-spinner" type="text" value="2" name="quantity">
                      </div>
                    </td>
                    <td class="price">$20.00</td>
                    <td class="sub-total">$40.00</td>
                    <td>
                      <div class="remove">
                        <span class="icon-close"></span>
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td colspan="2" class="prod-column">
                      <div class="column-box">
                        <div class="prod-thumb">
                          <a href="#"><img src="assets/images/shop/product-thumb-2.jpg" alt=""></a>
                        </div>
                        <div class="title">
                          <h3 class="prod-title">{{ 'cart.products.product_2' | translate }}</h3>
                        </div>
                      </div>
                    </td>
                    <td class="qty">
                      <div class="input-box">
                        <input class="quantity-spinner" type="text" value="3" name="quantity">
                      </div>
                    </td>
                    <td class="price">$16.00</td>
                    <td class="sub-total">$48.00</td>
                    <td>
                      <div class="remove">
                        <span class="icon-close"></span>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-12">
          <div class="cart-button-box">
            <div class="apply-coupon">
              <div class="inner">
                <input type="text" name="coupon-code" value="" [placeholder]="'cart.coupon.placeholder' | translate">
                <div class="apply-coupon-button">
                  <button class="btn-one" type="submit">
                    <span class="round"></span>
                    <span class="txt">{{ 'cart.coupon.apply' | translate }}</span>
                  </button>
                </div>
              </div>
            </div>
            <div class="update-cart">
              <button class="btn-one update-cart-button" type="button">
                <span class="round"></span>
                <span class="txt">{{ 'cart.actions.update' | translate }}</span>
              </button>
              <button class="btn-one" type="button">
                <span class="round"></span>
                <span class="txt">{{ 'cart.actions.checkout' | translate }}</span>
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!--End cart area-->
