.custom-quantity-input {
  width: 80px;
  height: 40px;
  border: 2px solid #d1d5db; /* Tailwind border-gray-300 */
  border-radius: 9999px; /* to make it pill shaped */
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  appearance: none; /* removes spinners in some browsers */
  -moz-appearance: textfield; /* removes spinners in Firefox */
}

.custom-quantity-input::-webkit-inner-spin-button,
.custom-quantity-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Notyf toast o'zining ichki ranglarini to'g'rilash */
.notyf__toast--success {
  background-color: #38b000 !important; /* yashil */
  color: white !important;
}

.notyf__toast--error {
  background-color: #d00000 !important; /* qizil */
  color: white !important;
}

/* Matn va joylashuv */
.notyf__message {
  font-size: 16px;
  font-weight: 500;
}