<!--Start breadcrumb area paroller-->
<section class="breadcrumb-area">
  <div
    class="breadcrumb-area-bg"
    style="background-image: url(assets/images/breadcrumb/breadcrumb-1.jpg)"
  ></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="inner-content text-center">
          <div class="title">
            <h2>{{"product-detail"|translate}}</h2>
          </div>
          <div class="breadcrumb-menu">
            <ul>
              <li><a href="index.html">{{"main"|translate}}</a></li>
              <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
              <li class="active">{{"product-detail"|translate}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End breadcrumb area-->

<!--Start Product Details Area-->
<section class="product-details-area">
  <div class="container">
    <div class="row">
      <div class="col-xl-6">
        <div class="product-details-image-box">
          <div class="product-details-main-image">
            <ul class="bxslider">
              <li>
                <div class="single-box clearfix">
                  <div class="img-holder">
                    <img
                      src="assets/images/shop/product-details-1.jpg"
                      alt="Awesome Image"
                    />
                  </div>
                </div>
              </li>
              <li>
                <div class="single-box clearfix">
                  <div class="img-holder">
                    <img
                      src="assets/images/shop/product-details-2.jpg"
                      alt="Awesome Image"
                    />
                  </div>
                </div>
              </li>
              <li>
                <div class="single-box clearfix">
                  <div class="img-holder">
                    <img
                      src="assets/images/shop/product-details-3.jpg"
                      alt="Awesome Image"
                    />
                  </div>
                </div>
              </li>
              <li>
                <div class="single-box clearfix">
                  <div class="img-holder">
                    <img
                      src="assets/images/shop/product-details-4.jpg"
                      alt="Awesome Image"
                    />
                  </div>
                </div>
              </li>
            </ul>
          </div>

          <div class="slider-pager">
            <ul class="thumb-box">
              <li>
                <a class="active" data-slide-index="0" href="#">
                  <div class="thumb-image">
                    <img
                      src="assets/images/shop/product-details-1-thumb.jpg"
                      alt="Awesome Thumb Image"
                    />
                  </div>
                </a>
              </li>
              <li>
                <a data-slide-index="1" href="#">
                  <div class="thumb-image">
                    <img
                      src="assets/images/shop/product-details-2-thumb.jpg"
                      alt="Awesome Thumb Image"
                    />
                  </div>
                </a>
              </li>
              <li>
                <a data-slide-index="2" href="#">
                  <div class="thumb-image">
                    <img
                      src="assets/images/shop/product-details-3-thumb.jpg"
                      alt="Awesome Thumb Image"
                    />
                  </div>
                </a>
              </li>
              <li>
                <a data-slide-index="3" href="#">
                  <div class="thumb-image">
                    <img
                      src="assets/images/shop/product-details-4-thumb.jpg"
                      alt="Awesome Thumb Image"
                    />
                  </div>
                </a>
              </li>
            </ul>
          </div>

          <div class="bottom-box">
            <h6>{{ 'product_details.availability' | translate }} <span>{{ 'product_details.in_stock' | translate }}</span></h6>
          </div>

        </div>
      </div>

      <div class="col-xl-6">
        <div class="product-details-content-box">
          <div class="top">
            <div class="rate-box">
              <div class="current-rate">
                <h3>$12.50</h3>
              </div>
              <div class="old-rate">
                <del>$15.00</del>
              </div>
            </div>
            <div class="review-box">
              <ul>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
              </ul>
            </div>
          </div>
          <div class="product-title">
            <h2>{{"product_details.product_name"|translate}}</h2>
          </div>
          <div class="product-description">
            <p>
             {{ 'product_details.description' | translate }}
            </p>
          </div>

          <div class="product-info">
            <ul>
              <li>
                <div class="inner">
                  <div class="icon">
                    <span class="icon-delivery-truck"
                      ><span class="path1"></span><span class="path2"></span
                      ><span class="path3"></span><span class="path4"></span
                      ><span class="path5"></span><span class="path6"></span
                      ><span class="path7"></span><span class="path8"></span
                      ><span class="path9"></span><span class="path10"></span
                    ></span>
                  </div>
                  <div class="title">
                    <h4>
                      O'z vaqtida <br />
                      yetkazib berish
                    </h4>
                  </div>
                </div>
              </li>
              <li>
                <div class="inner">
                  <div class="icon">
                    <span class="icon-vision"
                      ><span class="path1"></span><span class="path2"></span
                      ><span class="path3"></span><span class="path4"></span
                      ><span class="path5"></span><span class="path6"></span
                      ><span class="path7"></span><span class="path8"></span
                      ><span class="path9"></span><span class="path10"></span
                      ><span class="path11"></span
                    ></span>
                  </div>
                  <div class="title">
                    <h4>{{ 'product_details.features.cash_on_delivery' | translate }}</h4>

                  </div>
                </div>
              </li>
              <li>
                <div class="inner">
                  <div class="icon">
                    <span class="icon-diamond"
                      ><span class="path1"></span><span class="path2"></span
                      ><span class="path3"></span><span class="path4"></span
                      ><span class="path5"></span><span class="path6"></span
                      ><span class="path7"></span><span class="path8"></span
                      ><span class="path9"></span><span class="path10"></span
                      ><span class="path11"></span><span class="path12"></span
                      ><span class="path13"></span><span class="path14"></span
                    ></span>
                  </div>
                  <div class="title">
                    <h4>{{ 'product_details.features.quality' | translate }}</h4>

                  </div>
                </div>
              </li>
            </ul>
          </div>
          <!-- <div class="product-details-cart-box clearfix">
                    <div class="inner">

                    </div>


                </div> -->
          <div class="button-box justify-end flex-1">
            <button type="button" class="btn-one">
              <span class="round"></span>
              <span class="txt">{{"shop.add_to_cart"|translate}}</span>
            </button>
          </div>
          <div class="coupon-code-box">
            <h6>{{"product_details.promo_note"|translate}}<span>promocode</span></h6>
          </div>
          <div class="product-details-tag-box">
            <p>{{ 'product_details.tags' | translate }}</p>
          </div>

        </div>
      </div>
    </div>

    <!--Start product tab box-->
    <div class="row">
      <div class="col-md-12">
        <div class="product-tab-box tabs-box">
          <ul class="tab-btns tab-buttons clearfix">
            <li  data-tab="#desc" class="tab-btn"
              (click)="setActiveTab('desc')"
              [ngClass]="{ 'active-btn': activeTab === 'desc' }"
            >
            <span>{{ 'product_details.tabs.description' | translate }}</span>

            </li>
            <li  data-tab="#review" class="tab-btn"
              (click)="setActiveTab('review')"
              [ngClass]="{ 'active-btn': activeTab === 'review' }"
            >
            <span>{{ 'product_details.tabs.reviews' | translate }}</span>
          </li>
          </ul>
          <div class="tabs-content">
            <div class="tab" id="desc" [ngClass]="{'active-tab': activeTab === 'desc'}">
                <div class="product-details-tab-content">
                  <div class="product-description-content">
                    <div class="text">
                      <p>
                       {{"product_details.description_tab.text"|translate}}
                      </p>
                    </div>
                    <ul>
                      <li>
                        <span>{{ 'product_details.description_tab.specs.volume_label' | translate }}</span>
                        <b>:</b>
                        {{ 'product_details.description_tab.specs.volume_value' | translate }}
                      </li>
                      <li>
                        <span>{{ 'product_details.description_tab.specs.type_label' | translate }}</span>
                        <b>:</b>
                        {{ 'product_details.description_tab.specs.type_value' | translate }}
                      </li>
                      <li>
                        <span>{{ 'product_details.description_tab.specs.expiry_label' | translate }}</span>
                        <b>:</b>
                        {{ 'product_details.description_tab.specs.expiry_value' | translate }}
                      </li>
                      <li>
                        <span>{{ 'product_details.description_tab.specs.purification_label' | translate }}</span>
                        <b>:</b>
                        {{ 'product_details.description_tab.specs.purification_value' | translate }}
                      </li>
                      <li>
                        <span>{{ 'product_details.description_tab.specs.taste_label' | translate }}</span>
                        <b>:</b>
                        {{ 'product_details.description_tab.specs.taste_value' | translate }}
                      </li>
                    </ul>

                  </div>
                </div>
              </div>

            <div class="tab active-tab" id="review"  [ngClass]="{'active-tab': activeTab === 'review'}">
              <div class="product-details-tab-content">
                <div class="row">
                  <div class="col-xl-6">
                    <div class="review-box-holder">
                        <ul>
                            <li class="single-review-box">
                              <div class="img-box">
                                <img src="https://st.ourhtmldemo.com/new/aguapure-demo/assets/images/shop/review-1.jpg" alt="" />
                              </div>
                              <div class="text-box">
                                <h5>Malika Karimova, <span class="mr-2">2023-yil 21-mart</span></h5>
                                <div class="review-box">
                                  <ul>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                  </ul>
                                </div>
                                <p>
                                  Eleven Water suvi juda toza va mazali. Yetkazib berish xizmati ham tezkor
                                  va o‘z vaqtida bo‘ldi. Uyga yetkazib berish juda qulay!
                                </p>
                              </div>
                            </li>
                            <li class="single-review-box">
                              <div class="img-box">
                                <img src="assets/images/shop/img_comment.jpg" alt="" />
                              </div>
                              <div class="text-box">
                                <h5>Quvonchbek Xasanov<span class="mr-2">2023-yil 21-mart</span></h5>
                                <div class="review-box">
                                  <ul>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                  </ul>
                                </div>
                                <p>
                                  Har doim Eleven Waterdan suv buyurtma qilaman. Gigiyenik qadoqlanishi
                                  va tozalik darajasi yuqori. Ishonchli brend!
                                </p>
                              </div>
                            </li>
                            <li class="single-review-box">
                              <div class="img-box">
                                <img src="https://st.ourhtmldemo.com/new/aguapure-demo/assets/images/shop/review-3.jpg" alt="" />
                              </div>
                              <div class="text-box">
                                <h5>Hilola  Davlatova <span class="mr-2">2023-yil 20-mart</span></h5>
                                <div class="review-box">
                                  <ul>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                  </ul>
                                </div>
                                <p>
                                  18.9 litrli suv idishi ofisimiz uchun juda qulay. Suvning sifati a’lo
                                  darajada. Yetkazib berish ham har doim tezkor.
                                </p>
                              </div>
                            </li>
                          </ul>

                    </div>
                  </div>

                  <div class="col-xl-6">
                    <div class="review-form text-right-rtl">
                      <div class="title-box">
                        <h2>{{ "product_details.leave_review.title" | translate }}</h2>
                        <p>{{ "product_details.leave_review.note" | translate }}</p>
                      </div>
                      <div class="add-rating-box">
                        <div class="add-rating-title">
                          <p>{{ "product_details.leave_review.rating" | translate }}</p>
                        </div>
                        <div class="review-box">
                          <ul>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                          </ul>
                        </div>
                      </div>
                      <form id="review-form" action="#">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="input-box">
                              <input
                                type="text"
                                name="fname"
                                [placeholder]="'product_details.leave_review.name_placeholder' | translate"
                                required
                              />
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="input-box">
                              <input
                                type="email"
                                name="femail"
                                [placeholder]="'product_details.leave_review.email_placeholder' | translate"
                                required
                              />
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="input-box">
                              <textarea
                                name="fcomments"
                                [placeholder]="'product_details.leave_review.comment_placeholder' | translate"
                                required
                              ></textarea>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="checked-box2">
                              <input
                                type="checkbox"
                                name="skipper1"
                                id="skipper"
                                checked
                              />
                              <label for="skipper">
                                <span></span>
                                {{ "product_details.leave_review.save_info" | translate }}
                              </label>
                            </div>
                            <button class="btn-one" type="submit">
                              <span class="round"></span>
                              <span class="txt">{{ "product_details.leave_review.submit" | translate }}</span>
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--End product tab box-->

    <div class="related-product-box">
        <div class="shop-page-title">
          <h2>{{"product_details.related_products.title"|translate}}</h2>
        </div>
        <div class="row">
          <!-- Mahsulot 1 -->
          <div class="col-xl-4 col-lg-6 col-md-6">
            <div class="single-shop-item single-shop-item--style2">
              <div class="single-shop-item_inner">
                <div class="img-holder">
                  <img src="assets/images/shop/shop-1.jpg" alt="2 litr suv" />
                  <div class="overlay">
                    <span class="icon-email"></span>
                    <a href="#">So‘rov </a>
                  </div>
                </div>
                <div class="product-quantity-box">
                  <div class="input-box">
                    <span>Soni:</span>
                    <input class="quantity-spinner" type="text" value="1" name="quantity" />
                  </div>
                  <div class="rate-box">
                    <h3>$12.50</h3>
                  </div>
                </div>
                <div class="title-holder">
                  <h3><a href="product-details.html">2 litrli butilkadagi suv</a></h3>
                  <h6>Yetkazib berish</h6>
                  <p>Ertaga 16:30 — 18:30 oralig‘ida</p>
                  <div class="btn-box">
                    <a class="btn-one" href="product-details.html">
                      <div class="round"></div>
                      <span class="txt">{{"shop.add_to_cart"|translate}}</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Mahsulot 2 -->
          <div class="col-xl-4 col-lg-6 col-md-6">
            <div class="single-shop-item single-shop-item--style2">
              <div class="single-shop-item_inner">
                <div class="img-holder">
                  <img src="assets/images/shop/shop-2.jpg" alt="15 litr suv" />
                  <div class="overlay">
                    <span class="icon-email"></span>
                    <a href="#">So‘rov </a>
                  </div>
                </div>
                <div class="product-quantity-box">
                  <div class="input-box">
                    <span>Soni:</span>
                    <input class="quantity-spinner" type="text" value="1" name="quantity" />
                  </div>
                  <div class="rate-box">
                    <h3>$20.00</h3>
                  </div>
                </div>
                <div class="title-holder">
                  <h3><a href="product-details.html">15 litrli butilkadagi suv</a></h3>
                  <h6>Yetkazib berish</h6>
                  <p>Dushanba 09:30 — 10:30 oralig‘ida</p>
                  <div class="btn-box">
                    <a class="btn-one" href="product-details.html">
                      <div class="round"></div>
                      <span class="txt">{{"shop.add_to_cart"|translate}}</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Mahsulot 3 -->
          <div class="col-xl-4 col-lg-6 col-md-6">
            <div class="single-shop-item single-shop-item--style2">
              <div class="single-shop-item_inner">
                <div class="img-holder">
                  <img src="assets/images/shop/shop-3.jpg" alt="12 litr suv" />
                  <div class="overlay">
                    <span class="icon-email"></span>
                    <a href="#">So‘rov </a>
                  </div>
                </div>
                <div class="product-quantity-box">
                  <div class="input-box">
                    <span>Soni:</span>
                    <input class="quantity-spinner" type="text" value="1" name="quantity" />
                  </div>
                  <div class="rate-box">
                    <h3>$16.00</h3>
                  </div>
                </div>
                <div class="title-holder">
                  <h3><a href="product-details.html">12 litrli butilkadagi suv</a></h3>
                  <h6>Yetkazib berish</h6>
                  <p>Ertaga 16:30 — 18:30 oralig‘ida</p>
                  <div class="btn-box">
                    <a class="btn-one" href="product-details.html">
                      <div class="round"></div>
                      <span class="txt">{{"shop.add_to_cart"|translate}}</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

  </div>
</section>
<!--End Product Details Area-->
