
<!--Start breadcrumb area paroller-->
<section class="breadcrumb-area">
    <div class="breadcrumb-area-bg" style="background-image: url(assets/images/breadcrumb/breadcrumb-1.jpg);"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="inner-content text-center">
                    <div class="title">
                       <h2>Bizning xizmatlar</h2>
                    </div>
                    <div class="breadcrumb-menu">
                        <ul>
                            <li><a href="index.html">Asosiy</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            <li class="active">Xizmatlar</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb area-->

<!--Start Service Style1 Area-->
<section class="service-style1-area service-page-sec1">
    <div class="service-page-sec1-bg" style="background-image: url(assets/images/pattern/service-page-sec1-bg.png);"></div>
    <div class="container">
        <div class="sec-title">
            <div class="sub-title">
                <h5>Xizmatlar</h5>
            </div>
            <h2>Har bir inson <br>toza va foydali suvga loyiq</h2>
            <div class="decor">
                <img src="assets/images/shape/decor.png" alt="">
            </div>
        </div>
        <div class="row">
            <!--Start Single Service Style1-->
            <div class="col-xl-4 col-lg-4">
              <div
                class="single-service-style1 text-center wow fadeInUp"
                data-wow-delay="00ms"
                data-wow-duration="1500ms"
              >
                <div
                  class="single-service-style1__bg"
                  style="
                    background-image: url(assets/images/shape/single-service-box-bg.png);
                  "
                ></div>
                <div class="img-holder">
                  <div class="inner">
                    <img
                      src="https://st.ourhtmldemo.com/new/aguapure-demo/assets/images/services/service-v1-1.jpg"
                      alt=""
                    />
                  </div>
                  <div class="overlay-icon">
                    <a href="#"><span class="icon-water-bottle"></span></a>
                  </div>
                </div>
                <div class="title-holder">
                  <h3>
                    <a href="services-details.html"
                      >18L idishdagi toza ichimlik suvi</a
                    >
                  </h3>
                  <div class="inner-text">
                    <p>
                      Yirik hajmdagi suv — ofis va uy uchun qulay, tejamkor va
                      gigiyenik tanlov.
                    </p>
                  </div>
                  <div class="readmore-button">
                    <a href="services-details.html"
                      ><span class="icon-right-arrow"></span>Batafsil</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <!--End Single Service Style1-->
            <!--Start Single Service Style1-->
            <div class="col-xl-4 col-lg-4">
              <div
                class="single-service-style1 text-center wow fadeInUp"
                data-wow-delay="200ms"
                data-wow-duration="1500ms"
              >
                <div
                  class="single-service-style1__bg"
                  style="
                    background-image: url(assets/images/shape/single-service-box-bg.png);
                  "
                ></div>
                <div class="img-holder">
                  <div class="inner">
                    <img
                      src="https://st.ourhtmldemo.com/new/aguapure-demo/assets/images/services/service-v1-2.jpg"
                      alt=""
                    />
                  </div>
                  <div class="overlay-icon">
                    <a href="#"><span class="icon-water-dispenser"></span></a>
                  </div>
                </div>
                <div class="title-holder">
                  <h3><a href="services-details.html">Suv Dispenseri</a></h3>
                  <div class="inner-text">
                    <p>
                      Haroratga mos issiq va sovuq suv – qulaylik, gigiyena va
                      samaradorlik birlashtirilgan holda.
                    </p>
                  </div>
                  <div class="readmore-button">
                    <a href="services-details.html"
                      ><span class="icon-right-arrow"></span>Batafsil</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <!--End Single Service Style1-->
            <!--Start Single Service Style1-->
            <div class="col-xl-4 col-lg-4">
              <div
                class="single-service-style1 text-center wow fadeInUp"
                data-wow-delay="400ms"
                data-wow-duration="1500ms"
              >
                <div
                  class="single-service-style1__bg"
                  style="
                    background-image: url(assets/images/shape/single-service-box-bg.png);
                  "
                ></div>
                <div class="img-holder">
                  <div class="inner">
                    <img src="../../../../../assets/images/about/icetea.jpg" alt="" />
                  </div>
                  <div class="overlay-icon">
                    <a href="#"><span class="icon-water-bottle"></span></a>
                  </div>
                </div>
                <div class="title-holder">
                  <h3><a href="services-details.html">Eleven Ice Tea</a></h3>
                  <div class="inner-text">
                    <p>
                      Yozning issig‘ida tetiklantiruvchi, muzdek lazzat – tabiiy choy
                      barglaridan tayyorlangan mukammal ichimlik.
                    </p>
                  </div>
                  <div class="readmore-button">
                    <a href="services-details.html"
                      ><span class="icon-right-arrow"></span>Batafsil</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <!--End Single Service Style1-->
          </div>

    </div>
</section>
<!--End Service Style1 Area-->


<!--Start Features Style2 Area-->
<section class="features-style2-area">
    <div class="features-style2-area--bg-2" style="background-image: url(assets/images/parallax-background/working-process-area-bg.jpg);"></div>
    <div class="container">
        <div class="row">

            <div class="col-xl-4">
                <div class="features-style1_one-content features-style1_content-box-style3">
                    <div class="inner-content">
                        <div class="sec-title">
                            <div class="sub-title">
                                <h5>Suv va Salomatlik</h5>
                            </div>
                            <h2 class="clr_white">Har kuni toza suv – sog‘liq garovi</h2>
                            <div class="decor">
                                <img src="assets/images/shape/decor.png" alt="">
                            </div>
                        </div>
                        <div class="text">
                            <p>
                                Eleven water hayotingiz uchun zarur bo‘lgan tabiiy va sof ichimlik suvi bilan sizni ta’minlaydi. Har bir tomchida – salomatlik!
                            </p>
                            <ul>
                                <li><span class="icon-water-drop"></span>Tanani nam holatda saqlash</li>
                                <li><span class="icon-water-drop"></span>Energiya va hushyorlikni ta’minlash</li>
                                <li><span class="icon-water-drop"></span>Ichki organlar faoliyatini qo‘llab-quvvatlash</li>
                                <li><span class="icon-water-drop"></span>Teri salomatligini saqlash</li>
                            </ul>
                            <div class="btns-box">
                                <a class="btn-one" href="#">
                                    <div class="round"></div>
                                    <span class="txt">Ko‘proq o‘qish</span>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-xl-8">
                <div class="video-holder-box1">
                    <div class="video-holder-box1-bg" style="background-image: url(assets/images/resources/video-gallery-bg2.jpg);"></div>
                    <div class="icon">
                        <a class="video-popup paroller" title="Video Gallery" href="../../../../../assets/video/video_1.mp4">
                            <span class="icon-play playicon"></span>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--End Features Style2 Area-->

<!-- <section class="service-style1-area service-page-sec1">
    <div class="service-page-sec1-bg" style="background-image: url(assets/images/pattern/service-page-sec1-bg.png);"></div>
    <div class="container">
        <div class="sec-title">
            <div class="sub-title">
                <h5>Other Services</h5>
            </div>
            <h2>Large range <br>customer services.</h2>
            <div class="decor">
                <img src="assets/images/shape/decor.png" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4">
                <div class="single-service-style1 text-center">
                    <div class="single-service-style1__bg" style="background-image: url(assets/images/shape/single-service-box-bg-2.png);"></div>
                    <div class="img-holder">
                        <div class="inner">
                            <img src="assets/images/services/service-v1-4.jpg" alt="">
                        </div>
                        <div class="overlay-icon">
                            <a href="#"><span class="icon-water-drop-1"></span></a>
                        </div>
                    </div>
                    <div class="title-holder">
                        <h3><a href="#">Water Testing</a></h3>
                        <div class="inner-text">
                            <p>Find faults with man chooses enjoy at consequences avoids.</p>
                        </div>
                        <div class="readmore-button">
                            <a href="#"><span class="icon-right-arrow"></span>Read More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-4">
                <div class="single-service-style1 text-center">
                    <div class="single-service-style1__bg" style="background-image: url(assets/images/shape/single-service-box-bg-2.png);"></div>
                    <div class="img-holder">
                        <div class="inner">
                            <img src="assets/images/services/service-v1-5.jpg" alt="">
                        </div>
                        <div class="overlay-icon">
                            <a href="#"><span class="icon-maze"></span></a>
                        </div>
                    </div>
                    <div class="title-holder">
                        <h3><a href="#">System Repair</a></h3>
                        <div class="inner-text">
                            <p>Nor again there any who loves pursue desires to obtain  itself.</p>
                        </div>
                        <div class="readmore-button">
                            <a href="#"><span class="icon-right-arrow"></span>Read More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-4">
                <div class="single-service-style1 text-center">
                    <div class="single-service-style1__bg" style="background-image: url(assets/images/shape/single-service-box-bg-2.png);"></div>
                    <div class="img-holder">
                        <div class="inner">
                            <img src="assets/images/services/service-v1-6.jpg" alt="">
                        </div>
                        <div class="overlay-icon">
                            <a href="#"><span class="icon-order"></span></a>
                        </div>
                    </div>
                    <div class="title-holder">
                        <h3><a href="#">Maintenance</a></h3>
                        <div class="inner-text">
                            <p>Too take a trivial example which every obtain some advantage.</p>
                        </div>
                        <div class="readmore-button">
                            <a href="#"><span class="icon-right-arrow"></span>Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section> -->
<!--End Service Style1 Area-->


<!--Start pricing plan area-->
<section class="pricing-plan-area">
    <div class="pricing-plan-bg" style="background-image: url(assets/images/about/about-style1.jpg);"></div>
    <div class="container">
        <div class="sec-title text-center">
            <div class="sub-title">
                <h5>Tariflar va Rejalar</h5>
            </div>
            <h2 class="clr_white">Har bir mijoz uchun qulay narxlar</h2>
            <div class="decor">
                <img src="assets/images/shape/decor.png" alt="">
            </div>
        </div>
        <div class="row">
            <!--Start single price box-->
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 text-center">
                <div class="single-price-box">
                    <div class="table-header">
                        <div class="top">
                            <h3>Asosiy reja</h3>
                            <span>*narxlar o‘zgarishi mumkin</span>
                        </div>
                        <div class="package">
                            <h1><span>$</span>49</h1>
                            <div class="date">
                                <h3>oyiga</h3>
                            </div>
                        </div>
                    </div>
                    <div class="price-list">
                        <ul>
                            <li>Bepul yetkazib berish</li>
                            <li>Oyiga eng ko‘pi 10 dona bak</li>
                            <li>Bo‘sh baklarni olib ketish</li>
                            <li>Yiliga eng ko‘pi 120 dona bak</li>
                            <li>Mineral suv</li>
                        </ul>
                    </div>
                    <div class="table-footer">
                        <a class="btn-one" href="#">Buyurtma berish</a>
                    </div>
                </div>
            </div>
            <!--End single price box-->

            <!--Start single price box-->
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 text-center">
                <div class="single-price-box">
                    <div class="table-header">
                        <div class="top">
                            <h3>Premium reja</h3>
                            <span>*narxlar o‘zgarishi mumkin</span>
                        </div>
                        <div class="package">
                            <h1><span>$</span>99</h1>
                            <div class="date">
                                <h3>yiliga</h3>
                            </div>
                        </div>
                    </div>
                    <div class="price-list">
                        <ul>
                            <li>Bepul yetkazib berish</li>
                            <li>Oyiga eng ko‘pi 10 dona bak</li>
                            <li>Bo‘sh baklarni olib ketish</li>
                            <li>Yiliga eng ko‘pi 120 dona bak</li>
                            <li>Mineral suv</li>
                        </ul>
                    </div>
                    <div class="table-footer">
                        <a class="btn-one" href="#">Buyurtma berish</a>
                    </div>
                </div>
            </div>
            <!--End single price box-->

            <!--Start single price box-->
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 text-center">
                <div class="single-price-box">
                    <div class="table-header">
                        <div class="top">
                            <h3>Advanced reja</h3>
                            <span>*narxlar o‘zgarishi mumkin</span>
                        </div>
                        <div class="package">
                            <h1><span>$</span>79</h1>
                            <div class="date">
                                <h3>oyiga</h3>
                            </div>
                        </div>
                    </div>
                    <div class="price-list">
                        <ul>
                            <li>Bepul yetkazib berish</li>
                            <li>Oyiga eng ko‘pi 10 dona bak</li>
                            <li>Bo‘sh baklarni olib ketish</li>
                            <li>Yiliga eng ko‘pi 120 dona bak</li>
                            <li>Mineral suv</li>
                        </ul>
                    </div>
                    <div class="table-footer">
                        <a class="btn-one" href="#">Buyurtma berish</a>
                    </div>
                </div>
            </div>
            <!--End single price box-->
        </div>
    </div>
</section>

<!--End pricing plan area-->
