<!--Start breadcrumb area paroller-->
<section class="breadcrumb-area">
  <div
    class="breadcrumb-area-bg"
    style="background-image: url(assets/images/breadcrumb/breadcrumb-1.jpg)"
  ></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="inner-content text-center">
          <div class="title">
            <h2>{{ "shop.breadcrumb_title" | translate }}</h2>
          </div>
          <div class="breadcrumb-menu">
            <ul>
              <li>
                <a href="index.html">{{ "main" | translate }}</a>
              </li>
              <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
              <li class="active">{{ "shop.breadcrumb_title" | translate }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End breadcrumb area-->

<!--Start Shop Style1 Area-->
<section class="shop-page-one">
  <div class="shop-page-top-info">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="shop-page-top-info_inner">
            <div class="left-box">
              <p>{{ "shop.top_info.showing" | translate }}</p>
            </div>
            <div class="middle-box">
              <p>{{ "shop.top_info.bpa_note" | translate }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="shop-page-one_inner">
    <div class="auto-container" >
      <div  class="shop-style1_content">
        <div class="single-shop-item" *ngFor="let product of products">
          <div class="single-shop-item_inner">
            <div class="img-holder">
              <img  [routerLink]="['/product', product.id]"[src]="product.image_url" alt="" />

            </div>
            <div class="product-quantity-box">

                <h3>{{ product.sell_cost_uzs | number }} {{ 'currency' | translate }}</h3>
              </div>
            <div class="title-holder">
              <h3>  <a [routerLink]="['/product', product.id]">
                {{product.product_name}}</a></h3>

              <div class="btn-box">
                <a class="btn-one text-white" >
                  <div class="round"></div>
                  <span class="txt" (click)="addToCart(product)">{{ "shop.add_to_cart" | translate }}</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-12">
          <ul class="styled-pagination text-center clearfix">
            <li class="arrow prev">
              <a href="#"><span class="icon-right-arrow-1 left"></span></a>
            </li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li class="arrow next">
              <a href="#"><span class="icon-right-arrow-1 right"></span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
</div>
</section>
