<!--Start breadcrumb area paroller-->
<section class="breadcrumb-area">
    <div class="breadcrumb-area-bg" style="background-image: url(assets/images/breadcrumb/breadcrumb-1.jpg);"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="inner-content text-center">
                    <div class="title">
                       <h2>{{"shop.breadcrumb_title"|translate}}</h2>
                    </div>
                    <div class="breadcrumb-menu">
                        <ul>
                            <li><a href="index.html">{{"main"|translate}}</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            <li class="active">{{"shop.breadcrumb_title"|translate}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb area-->

<!--Start Shop Style1 Area-->
<section class="shop-page-one">
    <div class="shop-page-top-info">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="shop-page-top-info_inner">
                        <div class="left-box">
                                          <p>{{ 'shop.top_info.showing' | translate }}</p>


                        </div>
                        <div class="middle-box">
                                         <p>{{ 'shop.top_info.bpa_note' | translate }}</p>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="shop-page-one_inner">
        <div class="auto-container">
            <div class="shop-style1_content">
                <!--Start Single Shop Item-->
                <div class="single-shop-item">
                    <div class="single-shop-item_inner">
                        <div class="img-holder">
                            <img src="assets/images/shop/shop-1.jpg" alt="">
                            <div class="overlay">
                                <span class="icon-email"></span>
                                               <a href="#">{{ 'shop.enquire' | translate }}</a>

                            </div>
                        </div>
                        <div class="product-quantity-box">
                            <div class="input-box">
                                <span>Soni:</span>
                                <input class="quantity-spinner" type="text" value="1" name="quantity">
                            </div>
                            <div class="rate-box">
                                <h3>$12.50</h3>
                            </div>
                        </div>
                        <div class="title-holder">
                            <h3><a href="product-details.html">18.9L qadoqlangan suv</a></h3>
                            <h6>yetkazib berish</h6>
                            <p>Dushanba 4:30pm - 6:30pm</p>
                            <div class="btn-box">
                                <a class="btn-one" href="product-details.html">
                                    <div class="round"></div>
                                    <span class="txt">{{"shop.add_to_cart"|translate}}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Single Shop Item-->
                <!--Start Single Shop Item-->
                <div class="single-shop-item">
                    <div class="single-shop-item_inner">
                        <div class="img-holder">
                            <img src="assets/images/shop/shop-2.jpg" alt="">
                            <div class="overlay">
                                <span class="icon-email"></span>
                                <a href="#">Enquire</a>
                            </div>
                        </div>
                        <div class="product-quantity-box">
                            <div class="input-box">
                                <span>Quantity:</span>
                                <input class="quantity-spinner" type="text" value="1" name="quantity">
                            </div>
                            <div class="rate-box">
                                <h3>$20.00</h3>
                            </div>
                        </div>
                        <div class="title-holder">
                            <h3><a href="product-details.html">15 Ltr Bottled Water</a></h3>
                            <h6>Delivery</h6>
                            <p>Mon 9:30am - 10:30am</p>
                            <div class="btn-box">
                                <a class="btn-one" href="product-details.html">
                                    <div class="round"></div>
                                    <span class="txt">{{"shop.add_to_cart"|translate}}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Single Shop Item-->
                <!--Start Single Shop Item-->
                <div class="single-shop-item">
                    <div class="single-shop-item_inner">
                        <div class="img-holder">
                            <img src="assets/images/shop/shop-3.jpg" alt="">
                            <div class="overlay">
                                <span class="icon-email"></span>
                                <a href="#">Enquire</a>
                            </div>
                        </div>
                        <div class="product-quantity-box">
                            <div class="input-box">
                                <span>Quantity:</span>
                                <input class="quantity-spinner" type="text" value="1" name="quantity">
                            </div>
                            <div class="rate-box">
                                <h3>$16.00</h3>
                            </div>
                        </div>
                        <div class="title-holder">
                            <h3><a href="product-details.html">12 Ltr Bottled Water</a></h3>
                            <h6>Delivery</h6>
                            <p>Tom 4:30pm - 6:30pm</p>
                            <div class="btn-box">
                                <a class="btn-one" href="product-details.html">
                                    <div class="round"></div>
                                    <span class="txt">{{"shop.add_to_cart"|translate}}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Single Shop Item-->
                <!--Start Single Shop Item-->
                <div class="single-shop-item">
                    <div class="single-shop-item_inner">
                        <div class="img-holder">
                            <img src="assets/images/shop/shop-4.jpg" alt="">
                            <div class="overlay">
                                <span class="icon-email"></span>
                                <a href="#">Enquire</a>
                            </div>
                        </div>
                        <div class="product-quantity-box">
                            <div class="input-box">
                                <span>Quantity:</span>
                                <input class="quantity-spinner" type="text" value="1" name="quantity">
                            </div>
                            <div class="rate-box">
                                <h3>$25.50</h3>
                            </div>
                        </div>
                        <div class="title-holder">
                            <h3><a href="product-details.html">15+2 Ltr Combo Pack</a></h3>
                            <h6>Delivery</h6>
                            <p>Tom 4:30pm - 6:30pm</p>
                            <div class="btn-box">
                                <a class="btn-one" href="product-details.html">
                                    <div class="round"></div>
                                    <span class="txt">{{"shop.add_to_cart"|translate}}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Single Shop Item-->
                <!--Start Single Shop Item-->
                <div class="single-shop-item">
                    <div class="single-shop-item_inner">
                        <div class="img-holder">
                            <img src="assets/images/shop/shop-5.jpg" alt="">
                            <div class="overlay">
                                <span class="icon-email"></span>
                                <a href="#">Enquire</a>
                            </div>
                        </div>
                        <div class="product-quantity-box">
                            <div class="input-box">
                                <span>Quantity:</span>
                                <input class="quantity-spinner" type="text" value="1" name="quantity">
                            </div>
                            <div class="rate-box">
                                <h3>$69.00</h3>
                            </div>
                        </div>
                        <div class="title-holder">
                            <h3><a href="product-details.html">Water Dispenser</a></h3>
                            <h6>Delivery</h6>
                            <p>Mon 8:30am - 9:30am</p>
                            <div class="btn-box">
                                <a class="btn-one" href="product-details.html">
                                    <div class="round"></div>
                                    <span class="txt">{{"shop.add_to_cart"|translate}}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Single Shop Item-->

                <!--Start Single Shop Item-->
                <div class="single-shop-item">
                    <div class="single-shop-item_inner">
                        <div class="img-holder">
                            <img src="assets/images/shop/shop-6.jpg" alt="">
                            <div class="overlay">
                                <span class="icon-email"></span>
                                <a href="#">Enquire</a>
                            </div>
                        </div>
                        <div class="product-quantity-box">
                            <div class="input-box">
                                <span>Combo:</span>
                                <input class="quantity-spinner" type="text" value="1" name="quantity">
                            </div>
                            <div class="rate-box">
                                <h3>$36.50</h3>
                            </div>
                        </div>
                        <div class="title-holder">
                            <h3><a href="product-details.html">15 Ltr Bottled Combo</a></h3>
                            <h6>Delivery</h6>
                            <p>Tom 4:30pm - 6:30pm</p>
                            <div class="btn-box">
                                <a class="btn-one" href="product-details.html">
                                    <div class="round"></div>
                                    <span class="txt">{{"shop.add_to_cart"|translate}}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Single Shop Item-->
                <!--Start Single Shop Item-->
                <div class="single-shop-item">
                    <div class="single-shop-item_inner">
                        <div class="img-holder">
                            <img src="assets/images/shop/shop-7.jpg" alt="">
                            <div class="overlay">
                                <span class="icon-email"></span>
                                <a href="#">Enquire</a>
                            </div>
                        </div>
                        <div class="product-quantity-box">
                            <div class="input-box">
                                <span>Quantity:</span>
                                <input class="quantity-spinner" type="text" value="1" name="quantity">
                            </div>
                            <div class="rate-box">
                                <h3>$20.00</h3>
                            </div>
                        </div>
                        <div class="title-holder">
                            <h3><a href="product-details.html">15 Ltr Bottled Water</a></h3>
                            <h6>Delivery</h6>
                            <p>Mon 9:30am - 10:30am</p>
                            <div class="btn-box">
                                <a class="btn-one" href="product-details.html">
                                    <div class="round"></div>
                                    <span class="txt">{{"shop.add_to_cart"|translate}}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Single Shop Item-->
                <!--Start Single Shop Item-->
                <div class="single-shop-item">
                    <div class="single-shop-item_inner">
                        <div class="img-holder">
                            <img src="assets/images/shop/shop-8.jpg" alt="">
                            <div class="overlay">
                                <span class="icon-email"></span>
                                <a href="#">Enquire</a>
                            </div>
                        </div>
                        <div class="product-quantity-box">
                            <div class="input-box">
                                <span>Quantity:</span>
                                <input class="quantity-spinner" type="text" value="1" name="quantity">
                            </div>
                            <div class="rate-box">
                                <h3>$16.00</h3>
                            </div>
                        </div>
                        <div class="title-holder">
                            <h3><a href="product-details.html">12 Ltr Bottled Water</a></h3>
                            <h6>Delivery</h6>
                            <p>Tom 4:30pm - 6:30pm</p>
                            <div class="btn-box">
                                <a class="btn-one" href="product-details.html">
                                    <div class="round"></div>
                                    <span class="txt">{{"shop.add_to_cart"|translate}}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Single Shop Item-->
                <!--Start Single Shop Item-->
                <div class="single-shop-item">
                    <div class="single-shop-item_inner">
                        <div class="img-holder">
                            <img src="assets/images/shop/shop-6..jpg" alt="">
                            <div class="overlay">
                                <span class="icon-email"></span>
                                <a href="#">Enquire</a>
                            </div>
                        </div>
                        <div class="product-quantity-box">
                            <div class="input-box">
                                <span>Quantity:</span>
                                <input class="quantity-spinner" type="text" value="1" name="quantity">
                            </div>
                            <div class="rate-box">
                                <h3>$25.50</h3>
                            </div>
                        </div>
                        <div class="title-holder">
                            <h3><a href="product-details.html">15+2 Ltr Combo Pack</a></h3>
                            <h6>Delivery</h6>
                            <p>Tom 4:30pm - 6:30pm</p>
                            <div class="btn-box">
                                <a class="btn-one" href="product-details.html">
                                    <div class="round"></div>
                                    <span class="txt">{{"shop.add_to_cart"|translate}}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Single Shop Item-->

            </div>

            <div class="row">
                <div class="col-xl-12">
                    <ul class="styled-pagination text-center clearfix">
                        <li class="arrow prev"><a href="#"><span class="icon-right-arrow-1 left"></span></a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li class="arrow next"><a href="#"><span class="icon-right-arrow-1 right"></span></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>
<!--End Shop Style1 Area-->
