@import "primeng/resources/primeng.min.css";
@import "primeicons/primeicons.css";
.notyf__toast--success {
  background-color: green !important;
  color: white !important;
}

.notyf__toast--error {
  background-color: indianred !important;
  color: white !important;
}
